# VitePress
docs/.vitepress/cache/
docs/.vitepress/dist/

# dependencies
node_modules/

# macOS-specific files
.DS_Store

# Editor configurations
.vscode/
.zed/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
