:root {
    --vp-sidebar-width: 297px;
    --vp-home-hero-image-background-image: linear-gradient(
        to right,
        oklch(54.04% 0.226 287.57 / 50%),
        oklch(54.04% 0.226 287.57 / 50%)
    );
    --vp-home-hero-image-filter: blur(64px);

    --vp-c-brand-1: oklch(54.04% 0.226 287.57);
    --vp-c-brand-2: oklch(59.97% 0.226 287.57);
    --vp-c-brand-3: oklch(54.38% 0.226 287.57);
    --vp-c-brand-soft: oklch(60.7% 0.226 287.57 / 16%);
}

.dark {
    --vp-c-brand-1: oklch(78.29% 0.226 287.57);
}
